body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

/* button {
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
    font-weight: 500;
} */

#Game_Container {
    margin-top: 200px;
    padding: 50px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Cell_Container {
    height: 500px;
    width: 500px;
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Controls {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#movementControls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


.movement {
    height: 50px;
    width: 50px;
}
